<div class="cus-content-container">
  <div class="card shadow cus-card">
    <div class="card-header">
      <div class = "invoice-meta">
        <table>
          <tr>
            <td class="invoice-meta-tag font-weight-bold">Rechnung:</td>
            <td class="font-weight-bold"><%= @invoice.name %></td>
          </tr>
          <tr>
            <td class="invoice-meta-tag">Erstellt:</td>
            <td><%= formatted_date(@invoice.created_at) %></td>
          </tr>
          <tr>
            <td class="invoice-meta-tag">Zuletzt Bearbeitet:</td>
            <td><%= formatted_date(@invoice.updated_at) %></td>
          </tr>
          <tr>
            <td class="invoice-meta-tag">Kunde:</td>
            <td><%= link_to formal_customer(@customer), customer_path(@invoice.customer) %></td>
          </tr>
        </table>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr class="cus-table-header">
          <th>
            Position
          </th>
          <th>
            Beschreibung
          </th>
          <th>
            Stunden
          </th>
          <th>
            Preis
          </th>
        </tr>
      </thead>
      <tbody>
        <% @invoice.positions.each do |position| %>
          <tr class="clickable">
            <td class="clickable-position" id=<%= position.id %> data-href=<%= position_path %> ><%= position.name %></td>
            <td class="clickable-position" id=<%= position.id %> data-href=<%= position_path %> ><%= position.description %></td>
            <td class="clickable-position" id=<%= position.id %> data-href=<%= position_path %> ><%= position.hours %></td>
            <td class="clickable-position" id=<%= position.id %> data-href=<%= position_path %> ><%= position_total(position) %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4"><%= link_to 'Neue Position', new_invoice_position_path(@invoice) %></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td class="font-weight-bold">Total:</td>
          <td><%= invoice_total(@invoice) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>