<h5>Rechungsbetreff: <%= @invoice.name %></h5>

<p>Erstellt: <%= @invoice.created_at %></p>
<p>Zuletzt bearbeitet: <%= @invoice.updated_at %></p>

<% @invoice.positions.each do |position| %>
  <%= position.name %>
  <%= position.description %>
  <%= position.hours %>
<% end %>

<%= link_to 'Neue Position', new_invoice_position_path(@invoice) %>
<%= link_to 'Zurück zum Kunden', customer_path(@invoice.customer) %>