<div class="pdf-content">
  <div class="pdf-logo-container ">
    <%= image_tag wicked_pdf_asset_base64('logo.jpg') %>
  </div>

  <div class="pdf-own-address">
    <h1 class="pdf-own-name light"> 
      <span>L E N A</span>
      &nbsp;
      <span>R I E G E R</span>
    </h1>
    <p>
      <span class="lol">Konstantin-Lange Str. 64</span>
      <span class="middot">&#183;</span>
      <span>12103 Berlin</span>
    </p>
    <p>wurst@wurstikowski.design</p>
    <p>+49 176 1234 5678</p>
    <p></p>
    <p></p>
  </div>

  <div class="pdf-customer-address light">
    <p class="pdf-customer-address-line"><%= formal_customer(@customer)%></p>
    <p class="pdf-customer-address-line"><%= @customer.street%></p>
    <p class="pdf-customer-address-line"><%= @customer.zip%> <%= @customer.city%></p>
    <p class="pdf-customer-address-line"><%= @customer.country %></p>
  </div>

  <div class="pdf-top-right-info light"> 
      <p class="pdf-invoice-date">Rechnungssnummer <%= invoice_number(@invoice) %></p>
      <p class="pdf-invoice-date"><%= today %></p>
  </div>

  <div class="folding-mark"></div>

  <div class="pdf-table-container">
    <h1 class="pdf-invoice-title bold"><%= @invoice.name %></h1>
    <table class="pdf-table">
      <thead>
        <tr class="bold">
          <th class="bold">Projekt</th>
          <th>Leistung</th>
          <th>Stunden</th>
          <th>Preis</th>
        </tr>
      </thead>
      <tbody>
        <% @invoice.positions.each do |position| %>
          <tr class="light">
            <td><%= position.name %></td>
            <td><%= position.description %></td>
            <td><%= number_with_precision(position.hours, precision: 1, strip_insignificant_zeros: true) %></td>
            <td><%= number_with_precision(position_total(position), precision: 2, strip_insignificant_zeros: true) %></td>
          </tr>
        <% end %>
          <tr>
            <td colspan= "3">Gesamt</td>
            <td><%= invoice_total(@invoice) %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>