<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Kunde</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr scope="row">
        <td><%= formal_customer(customer) %></td>
        <td><%= link_to 'Anzeigen', customer %></td>
        <td><%= link_to 'Löschen', customer, method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
      </tr>
    <% end %> 
  </tbody>
</table>
<br>

<%= link_to 'New Customer', new_customer_path %>
