<p id="notice"><%= notice %></p>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    <strong><%= formal_customer(@customer) %></strong>
  </div>
  <ul class="list-group list-group-flush">
    <% unless @customer.company.empty? %>
      <li class="list-group-item d-flex justify-content-between">
        <strong>Name:</strong> <%= @customer.first_name + ' ' + @customer.second_name%>
      </li>
    <% end %>
    <li class="list-group-item d-flex justify-content-between">
      <strong>Straße:</strong> <%= @customer.street%>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <strong>Postleitzahl:</strong> <%= @customer.zip%>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <strong>Ort:</strong> <%= @customer.city%>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <strong>Land:</strong> <%= @customer.country%>
    </li>
  </ul>
  <div class="card-body">
    <%= link_to "Bearbeiten", edit_customer_path(@customer) %>
  </div>
</div>

<%= link_to 'Back', customers_path %>
