<p id="notice"><%= notice %></p>

<div class="cus-content-container row">
  <div class="card shadow cus-card col-sm-4 mr-auto">
    <div class="card-header">
      <strong><%= formal_customer(@customer) %></strong>
    </div>
    <ul class="list-group list-group-flush">
      <%= showCustomerName?(@customer) %>
      <li class="list-group-item d-flex justify-content-between">
        <strong>Straße:</strong> <%= @customer.street%>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <strong>Postleitzahl:</strong> <%= @customer.zip%>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <strong>Ort:</strong> <%= @customer.city%>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <strong>Land:</strong> <%= @customer.country%>
      </li>
    </ul>
    <div class="card-body clickable" id="edit-customer" data-href=<%= edit_customer_path %>>
      <%= link_to "Bearbeiten", edit_customer_path(@customer) %>
    </div>
  </div>

  <div class="card shadow cus-card col-sm-7 ml-auto">
    <div class="card-header">
      <strong>Rechnungen</strong>
    </div>
    <table class="table">
      <thead>
        <tr class="cus-table-header">
          <th>
            Projektname
          </th>
          <th>
            Zuletzt bearbeitet
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <% @customer.invoices.each do |invoice| %>
          <tr class="clickable">
            <td class="clickable-invoice" id=<%= invoice.id %> data-href=<%= invoice_path %> ><%= invoice.name %></td>
            <td class="clickable-invoice" id=<%= invoice.id %> data-href=<%= invoice_path %> ><%= invoice.created_at %></td>
            <td class="clickable-invoice" id=<%= invoice.id %> data-href=<%= invoice_path %> >bezahlt</td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3" class="clickable text-primary" id="new-invoice" data-href=<%= new_customer_invoice_path(@customer) %>> Neue Rechnung erstellen</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  
  
